@model SolveChicago.Web.Models.AdminInviteModel

@{
    ViewBag.Title = "Invite";
}

<h2>Invite</h2>
@using (Html.BeginForm("Invite", "Admins", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.AdminId)
    @Html.TextBoxFor(x => x.EmailToInvite)
    <button>Continue</button>
}