@model SolveChicago.Web.Models.Admin.AdminInviteModel

@{
    ViewBag.Title = "Invite";
}


@using (Html.BeginForm("Invite", "Admins", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.AdminId)


    <div class="row app-dashboard-form-container">
        <div class="create-profile-form-holder">
            <h4><strong>INVITE: </strong>Admin</h4>
            <hr />

            @Html.LabelFor(m => m.EmailToInvite, "Email", null)
            @Html.TextBoxFor(x => x.EmailToInvite)

            <hr class="line-divider">
            <input class="submit-create-profile" type="submit" value="Submit">
        </div>
    </div>
}
