@model IEnumerable<SolveChicago.Entities.Referrer>

<header class="members-header">
    <h2><strong>REFERRERS:</strong> OVERVIEW </h2>

    @*<div class="small-12 medium-12 large-3">
        <input class="search-members" type="text" name="search" placeholder="Search..">
    </div>*@
</header>
@if (Model.Count() > 0)
{
    <div class="member-card member-card-header">
        <div class="member-overview">
            <div class="row large-unstack">
                <span class="member-card-thumb"></span>
                <div class="columns has-space">
                    <strong>Name</strong>
                </div>
                <div class="columns has-space">

                </div>
                <div class="columns has-space">

                </div>
                <div class="columns has-space">

                </div>
            </div>
        </div>
    </div>
    foreach (var item in Model)
    {
        <section class="member-card">
            <div class="member-overview">
                <div class="row large-unstack">
                    <span class="member-card-thumb"></span>
                    <div class="columns centered has-space">
                        <span class="member-name">@item.Name</span>
                    </div>
                    <div class="columns has-space">
                        <span></span>
                    </div>
                    <div class="columns">

                    </div>
                    <div class="columns">
                        <a href="/Referrers?referrerId=@item.Id" class="show-family button">View Members</a>
                    </div>
                </div>
            </div>
        </section>
    }
}
else
{
    <p>No Case Managers.</p>
}