@{

    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout_NoHeader.cshtml";
}

<div class="form-registration-bg">
    <div class="form-registration">
        <figure class="form-registration-img">
            <a href="/"><img src="/img/solve-logo@2x.png" alt="Solve Smart Cities" /></a>
        </figure>
        <div class="form-registration-group">
            <p class="login-helper">
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>



