@model SolveChicago.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout_NoHeader.cshtml";
}

    <div class="form-registration-bg">
        <div class="form-registration">
            <figure class="form-registration-img">
                <a href="/"><img src="/img/solve-logo@2x.png" alt="Solve Smart Cities Logo" /></a>
            </figure>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-registration-group", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="login-helper">Please enter your username to reset your password</h4>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-registration-input form-registration-input--has-email-icon", @placeholder = "Email" })
                <input type="submit" class="form-registration-submit-button" value="Reset" />
            }
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }



