@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout_NoHeader.cshtml";
}

<div class="form-registration-bg">
    <div class="form-registration">
        <figure class="form-registration-img">
            <a href="/"><img src="/img/solve-logo@2x.png" alt="Solve Smart Cities Logo" /></a>
        </figure>
        <div class="form-registration-group">
            <p class="login-helper">
                Your password has been reset. <br />
                Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
            </p>
        </div>
    </div>
</div>

