
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row app-dashboard-form-container">
    <div class="create-profile-form-holder">
        <h4><strong>SETTINGS</strong></h4>
        <hr />

        <p>@Html.ActionLink("Edit Profile", "Index", "Profile")</p>
        @if (User.IsInRole("Admin"))
        {
            <p>@Html.ActionLink("Invite Admin", "Invite", "Admins")</p>
        }

    </div>
</div>
