/* Not ideal, but do this until SASS is integrated and I can edit the source files */
/* Overwriting generated SASS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@media print, screen and (min-width: 64em) {
    .app-dashboard-body-content .form-holder:last-child {
        float: right;
        -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    }
}



@media print, screen and (max-height: 630px) {
    .case-manager-profile-picture{display:none !important;}
}

@media print, screen and (max-width: 767px) {
    .app-dashboard-logo img {
        height: auto !important;
        margin-left: 30px !important;
        float: none !important;
        margin-right: 0 !important;
    }
}

body.register {
    background: #22323f;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 1rem;
    line-height: normal;
}

.back-button {
    padding-left: 80px;
    color: blue;
    font-size: 20px;
}

.add-job {
    height: 50px !important;
    margin-bottom: -25px !important;
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner .menu > li > a {
    padding: 25px 0 !important;
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner .sub-menu li .case-manager-profile-picture,
.member-card .member-card-thumb,
.member-details .member-detail-thumb,
.hero-main-profile .profile-image-container {
    background: none !important;
    overflow: hidden !important;
}

.small-progress-description {
    position: absolute;
}

.overview-card {
    margin-bottom: 30px;
}

.member-card {
    border-bottom: 1px solid white;
}

.sub-menu .active > a {
    background: #1779ba;
    color: #ffffff;
}

.member-card.member-card-header {
    background: none;
    height: 50px;
    color: #aaa;
}

.member-card.prospects:nth-child(2n) {
    background: #ececec;
}

.validation-summary-errors, .input-validation-error {
    background: #fee9e7;
    color: #f22613;
    padding: 20px 40px;
    border-radius: 10px;
    height: auto;
    width: 80%;
    margin-bottom: 30px;
}

    .validation-summary-errors ul {
        margin: 0;
    }

.entry:not(:nth-last-child(2)) {
    border-bottom: 1px solid #888;
}

.entry {
    padding: 30px 0;
}

#npo-wrapper, #GovernmentProgram {
    width: 80%;
    margin: 50px auto;
}

.form-registration-group .form-registration-input {
    min-height: 50px;
}

.form-registration-group .form-registration-submit-button {
    min-height: 40px;
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner .sub-menu li .case-manager-profile-picture {
    min-height: 50px;
}

.overview-card .overview-image img {
    max-width: 230px;
}

.checkbox label {
    display: inline;
}

.login-helper {
    font-size: 14px;
    color: #fff;
    text-align:center;
    max-width:80%;
}

.login-helper a {
    color:#fff;
    text-decoration:underline;
}

.login-helper a:hover, 
.login-helper a:active {
    color:#eee;
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner .menu-link.double-stack a {
    float: left;
}

    .app-dashboard-sidebar .app-dashboard-sidebar-inner .menu-link.double-stack a:first-child {
        width: 90%;
    }

    .app-dashboard-sidebar .app-dashboard-sidebar-inner .menu-link.double-stack a:last-child {
        width: 10%;
        border-left: 1px solid rgba(57, 65, 72, 0.3);
        padding: 51px 10px 52px;
    }

.app-dashboard-sidebar .app-dashboard-sidebar-inner .menu-link.double-stack.half-height a:first-child {
    font-size: .75em;
}

    .app-dashboard-sidebar .app-dashboard-sidebar-inner .menu-link.double-stack.half-height a:first-child img {
        height: 18px;
        margin-bottom: 7px;
    }

.app-dashboard-sidebar .app-dashboard-sidebar-inner .menu-link.double-stack.half-height a:last-child {
    padding: 28px 10px;
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner .menu-link.half-height a {
    padding: 17px;
    min-height: 72px;
}

.member-card a {
    width: auto !important;
}

    .member-card a.show-family {
        max-width: 150px;
    }

.member-details-menu-wrapper {
    position: relative;
}

.member-details-menu {
    position: absolute;
    z-index: 1;
    background: #fff;
    top: -30px;
    box-shadow: 3px 0px 15px #aaa;
    border-radius: 7px;
    display: block !important;
    padding-bottom: 5px;
    right: 20px;
}

    .member-details-menu li {
        display: block !important;
    }

    .member-details-menu a, .member-details-menu button {
        color: #2574A9 !important;
        display: block !important;
        padding: 0 15px !important;
        border-bottom: none !important;
        max-width: 120px !important;
        float: left !important;
    }



        .member-details-menu a:active,
        .member-details-menu a:hover,
        .member-details-menu button:active,
        .member-details-menu button:hover {
            border: none !important;
            background: none !important;
            text-decoration: underline;
        }

.arrow-right {
    width: 0;
    height: 0;
    border-left: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 11px;
    right: 15px;
    z-index: 101;
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner .menu > li > a:hover,
.app-dashboard-sidebar .app-dashboard-sidebar-inner .menu > li > a:active {
    border-left: none !important;
}

.menu .active a {
    background-color: rgba(34, 49, 63, 0.2) !important;
    border-left: 15px solid #22A7F0;
}

.overview-card .row {
    padding:0 30px;
}

.app-dashboard-logo img {
    height:auto !important;
}

.app-dashboard-body-content .form-holder:first-child {
    margin-right:auto !important;
}

.form-registration-group .form-registration-submit-button {
    margin-top:20px !important;
}