/* Not ideal, but do this until SASS is integrated and I can edit the source files */
/* Overwriting generated SASS */

@media print, screen and (min-width: 64em) {
    .app-dashboard-body-content .form-holder:last-child {
        float: right;
        -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    }
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 1rem;
    line-height: normal;
}

.add-job {
    height: 50px !important;
    margin-bottom: -25px !important;
}

.app-dashboard-sidebar .app-dashboard-sidebar-inner .sub-menu li .case-manager-profile-picture,
.member-card .member-card-thumb,
.member-details .member-detail-thumb,
.hero-main-profile .profile-image-container {
    background: none !important;
    overflow: hidden !important;
}

.small-progress-description {
    position:absolute;
}

.overview-card {
    margin-bottom:30px;
}

.member-card {
    border-bottom:1px solid white;
}

.sub-menu .active > a {
    background: #1779ba;
    color: #ffffff;
}
.member-card.member-card-header {
    background:none;
    height:50px;
    color:#aaa;
}

.member-card.prospects:nth-child(2n) {
    background:#ececec;
}

.validation-summary-errors, .input-validation-error {
    background: #fee9e7;
    color: #f22613;
    padding: 20px 40px;
    border-radius: 10px;
    height: auto;
    width: 80%;
    margin-bottom: 30px;
}

.validation-summary-errors ul {
    margin:0;
}