$form-registration-bg: $white;
$form-registration-highlight-color: $blue;
$social-brand-facebook: #3b5998;


.form-registration-bg {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: url('../img/login-bg-image@2x.png') no-repeat center center / cover;
}

.form-registration {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: rgba($white, 0.25);
  box-shadow: 1px 1px 56px 0 rgba($black, 0.41);
  background-blend-mode: overlay;
  border-radius: 8px;
  margin: 20px;

  .form-registration-img {
    margin-top: 60px;
    margin-bottom: 60px;
    align-self: center;
    max-width: 161px;
  }
}

.form-registration-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 $global-padding;
  margin-bottom: 60px;

  .form-registration-input {
    position: relative;
    width: 100%;
    max-width: 350px; 
    border-radius: 40px;
    height: 50px;
    color: $white;
    background: rgba($white, 0.25);
    padding-left:50px;
    border: none;

    &::placeholder {
      text-transform: uppercase;
      color: $offwhite;
      font-size: 14px;
    }

    &:focus {
      background: transparent;
      border: 2px solid $form-registration-highlight-color;
      box-shadow: 0 0 4px $form-registration-highlight-color;
    }

    &--has-email-icon {
      background: rgba($white, 0.25) url('../img/email-icon.svg') no-repeat scroll 20px 16px;
        
        &:focus {
          background: url('../img/email-icon.svg') no-repeat scroll 18px 14px;
        }
    }

    &--has-password-icon {
      background: rgba($white, 0.25) url('../img/password-icon.svg') no-repeat scroll 20px 12px;
        
        &:focus {
          background: url('../img/password-icon.svg') no-repeat scroll 18px 10px;
        }
    }

    &--has-error {
      color: $white;
      border: 1px solid $brand-red;
      box-shadow: 0 0 4px $brand-red;
      background: url('../img/error-icon.svg') no-repeat scroll 20px 14px; 
    }

  }

  .form-registration-submit-button {
    text-transform: uppercase;
    margin-bottom: 0;
    height: 40px;
    width: 100%;
    max-width: 200px;
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
    margin-top: 36px;
    margin-bottom: 36px;

    &:hover {
      color: $brand-blue;
      background-color: $white;
    }
  }
}

  .form-registration-member-signup, 
  .form-registration-member-forgot-password {
    text-align: center;
    //font-weight: bold;
    font-size: 14px;
    color: $white;
    margin-bottom: 8px;

    a {
      color: $white;
      font-weight: bold;
      margin-left: 0.25rem;

      &:hover {
        color: $blue;
      }
    }
  }

.back-to-website {
  font-size: 14px;
  color: $white;

    &:hover {
      color: $blue;
    }
}


