

.overview-card {
    width: 100%;
    //margin: 10px auto;
    background: $white;
    //padding: 20px;
    position: relative;

    header {
        padding-left: 15px;
        border-bottom: 1px solid $royal-blue;
        border-top: 1px solid $royal-blue;
        margin-bottom: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-content: center;

        a {
            width: 100%;
            max-width: 90px;
            text-transform: uppercase;
            font-weight: 800;
            margin-bottom: 0;
        }
    }

    p {
        color: $grey;
        margin-bottom: 0;
        display: inline-block;
        line-height: 1;
    }

    span {
        color: $grey;
        font-weight: 800;
    }

    .overview-card-header {
        color: $royal-blue;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 0;
    }

    .has-space {
        margin: 12px 0;
    }

    .overview-image {
        display: block;
        //width: 100%;

        @include breakpoint(large) {
          //max-width: 300px;
          display: inline-block;
          float: right;
            
            img {
                margin: 36px;
            }
        }

        @include breakpoint(medium) {
            img {
                margin: 36px 0;
            }
        }

    }

    .overview-wrapper {
        display: block;
        width: 100%;
        //margin: 0 auto;
        @include breakpoint(large) {
          max-width: 720px;
          display: inline-block;
          float: left;
        }
      }

    .overview-line-divider {
        width: 100%;
        margin: 1px;
        clear: both;
        border-bottom: 1px solid $offwhite;
    }
}
