@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "404 Page Not Found";
}

<hgroup>
    <h1 class="text-danger">404 Page Not Found.</h1>
    <h2 class="text-danger">We're sorry, we're not able to find that page. Please try again, or contact support if the problem continues.</h2>
</hgroup>
