@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a href="javascript:document.getElementById('logoutForm').submit()">
        <img class="sub-menu-icon" src="../img/submenu-icon-logout.svg">
        <span class="app-dashboard-sidebar-text">Logout</span>
    </a>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()       
    }
}